<p id="notice"><%= notice %></p>

<h1>Listing Applications</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Surename</th>
      <th>Street</th>
      <th>Zip</th>
      <th>City</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Born</th>
      <th>Family</th>
      <th>Created</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= link_to application.firstname, application %></td>
        <td><%= application.surename %></td>
        <td><%= application.street %></td>
        <td><%= application.zip %></td>
        <td><%= application.city %></td>
        <td><%= application.phone %></td>
        <td><%= application.email %></td>
        <td><%= application.born %></td>
        <td><%= application.family %></td>
        <td><%= application.created_at.in_time_zone("Helsinki") %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
